---
import Layout from '../layouts/Layout.astro';

import Navbar from '../components/Navbar.astro';
import CardSuper from '../components/CardSuper.astro';


---

<Layout title="About these heroes">
    <Navbar/>

    <h1 class="text-center m-2 bg-light">Why or... What?</h1>
    
    <CardSuper/>
</Layout>

<style>
</style>