<div class="text-center bg-light">
    <h1>Who writted?</h1>
        <img class="p-2 m-3 img-fluid" src="https://i.pinimg.com/736x/49/cc/96/49cc9628ce4f5195f8a1a6120eb6a3ca.jpg" />
    <p>The X-Men comics were created by writer Stan Lee and artist Jack Kirby. 
    The first issue of X-Men was published by Marvel Comics in September 1963. 
    Stan Lee is often credited with co-creating many of Marvel's iconic characters, and 
    Jack Kirby is renowned for his distinctive art style and contributions to the comic book medium. 
    Over the years, various writers and artists have worked on the X-Men comics, including notable creators 
    like Chris Claremont, John Byrne, Jim Lee, and many others. The X-Men franchise has become one of Marvel's 
    most successful and enduring properties, spawning numerous comic book series, spin-offs, animated TV shows, 
    dmovies, and a significant impact on popular culture.</p>
</div>