---

---

<nav class="navbar navbar-expand-lg bg-danger">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Twitter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">GitHub</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Youtube</a>
      </li>
    </ul>
  </nav>