---
import xmen from '../assets/xmen.jpg'
import xmen2 from '../assets/xmen2.jpg'
---
<div class="text-center bg-light">
    <img  src={xmen2} class="img-fluid" />

		<h1 class="p-2 m-2">Who are they?</h1>

		<img src={xmen} class="img-fluid p-2 m-2" alt="">

		<p class="p-2 w-20">The X-Men group was formed by Professor Charles Xavier, a powerful 
		mutant with telepathic abilities. Recognizing the growing need for mutants to use their 
		powers for the betterment of humanity, Xavier established a school called the Xavier's 
		School for Gifted Youngsters. He recruited a diverse group of mutants, each possessing 
		unique abilities and backgrounds, to join his cause. Together, they became the X-Men, a 
		team of superheroes dedicated to protecting both mutants and humans from threats and promoting 
		peaceful coexistence. Through their adventures, the X-Men have fought against mutant terrorists, 
		powerful villains, and societal prejudice, embodying Xavier's vision of a world where mutants and 
		humans can live together harmoniously.</p>
</div>